{% extends 'layouts/base.html' %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
  <div class="container offset-header">
    <h1>Impact &ndash; Mentions légales</h1>
    <p class="text-muted">
      Merci d'utiliser Impact ! Nous sommes heureux que vous soyez là. Veuillez lire attentivement cet
      accord sur les conditions de service avant d'accéder à Impact ou de l'utiliser.
      Comme il s'agit d'un contrat très important entre nous et nos utilisateurs, nous avons essayé de le rendre
      aussi clair que possible. Pour votre commodité, nous avons présenté ces conditions sous la forme d'un
      court résumé non contraignant, suivi des conditions légales complètes.
    </p>
    <h5>Hébergeur du site internet</h5>
    <p class="text-muted">
      Le site est hébergé par <strong>Heroku</strong> dont le siège social est situé au
      &laquo; Inc. 650 7th Street San Francisco, CA 94103, USA &raquo;. Leur site web est disponible à l'adresse
      suivante : <a href="https://www.heroku.com">https://www.heroku.com</a>
    </p>

    <h2>Crédits</h2>
    <div></div>
  </div>
{% endblock %}