<li>
  <a href="{% url 'login' %}" class="inline-block text-white hover:text-gray-200 py-2">
    <button type="button" class="px-4 py-2 rounded bg-white text-black border-2 border-white">Login</button>
  </a>
</li>

<li>
  <a href="{% url 'signup' %}" class="inline-block text-white hover:text-gray-200 py-2">
    <button type="button"
            class="px-4 py-2 rounded border-2 border-white hover:bg-white hover:text-black hover:text-blacktransition
          duration-300">Signup
    </button>
  </a>
</li>